<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script
            src="https://kit.fontawesome.com/4a9fe6146e.js"
            crossorigin="anonymous"
    ></script>
    <title>Document</title>
    <base href="/">
    <link href="mainn.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <form th:action="@{/j_spring_security_check}" method="post">
        <div class="Loginform">
            <span class="Sign-In"> Sign In </span>
            <div class="-Input-Label">
                <span class="Type"> Login </span>
                <label>
                    <input class="Normal" type="text" name="username" value=""/>
                </label>
                <i class="fas fa-check-circle iconcheck"></i>
            </div>
            <div class="-Input-Label">
                <span class="Type"> Password </span>

                <label>
                    <input class="Normal" type="password" name="password" value=""/>
                    <i class="fas fa-lock iconlock"></i>
                </label>


            </div>
            <button class="LoginButton" type="submit" value="Sign In">
                <span class="TypeText"> Login </span>
            </button>

        </div>
    </form>
    <form>
        <button class="LoginWFbButton">
            <a href="/login" class="TypeTextFb" style="text-decoration: none"> Continue with Facebook </a>
            <i class="fab fa-facebook-square iconfb"></i>
        </button>
        <span class="Forgot">
          Forgot your password?
        </span>
    </form>
</div>
<div class="authenticated" style="display:none">
    Logged into Facebook as: <span id="user"></span>
</div>

<script type="text/javascript">
    $.get("/user", function (data) {
        $("#user").html(data.userAuthentication.details.name);
        $(".authenticated").show()
    });

</script>
</body>
</html>